// Fonts
$font-main: 'Euclid Circular B', sans-serif;

// Colors
$accent: #0165c3;
$main: #656361;
$dark: #010101;
$white: #fff;
$bg: #faf5f1;
$bg-light: #f2f7fd;

// Media
$media999px: 999px;
$media768px: 768px;
$media525px: 525px;
