<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__logo">
        <a class="footer__logo-link" href="">Greenhouse</a>
        <p class="footer__logo-text">
          Full-service real estate experts who strive to service the entire
          spectrum of exclusive clients Los Angeles has to offer.
        </p>
        <ul class="footer__socials">
          <li>
            <a href="#!"><img src="./img/icons/Facebook.svg" alt="img" /></a>
          </li>
          <li>
            <a href="#!"><img src="./img/icons/Twitter.svg" alt="img" /></a>
          </li>
          <li>
            <a href="#!"><img src="./img/icons/Youtube.svg" alt="img" /></a>
          </li>
          <li>
            <a href="#!"><img src="./img/icons/Instagram.svg" alt="img" /></a>
          </li>
        </ul>
      </div>

      <div class="footer__nav">
        <div class="footer__nav-title">Links</div>
        <nav>
          <ul class="footer__nav-list">
            <li><a href="#!">Home</a></li>
            <li><a href="#!">Services</a></li>
            <li><a href="#!">About</a></li>
            <li><a href="#!">Pricing</a></li>
          </ul>
        </nav>
      </div>

      <div class="footer__nav">
        <div class="footer__nav-title">About</div>
        <nav>
          <ul class="footer__nav-list">
            <li><a href="#!">Partners</a></li>
            <li><a href="#!">Careers</a></li>
            <li><a href="#!">Press</a></li>
            <li><a href="#!">Community</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__address">
        <div class="footer__nav-title">Our Office Indonesia</div>
        <ul class="footer__nav-list">
          <li>
            Indonesia <br />
            Jl. Griya Permata Hijau no D1 Purwomartani Kalasan 543881
          </li>
          <li>
            Tokyo <br />
            35 Mandalay Road 13–37 Mandalay Towers Singapore 308215
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">© 2023 GreenHouse. All rights reserved.</div>
  </div>
</footer>
