<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">Greenhouse</div>

      <button class="icon-menu" type="button">
        <span></span>
      </button>

      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="">Services</a></li>
          <li class="nav__item"><a class="nav__link" href="">Products</a></li>
          <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
          <li class="nav__item"><a class="nav__link" href="">Location</a></li>
        </ul>
      </nav>

      <div class="header__sigin sigin">
        <ul class="sigin__list">
          <li class="sigin__item">
            <a class="sigin__link" href="">Sign In</a>
          </li>
          <li class="sigin__item">
            <a class="sigin__btn" href="">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
