<section class="partners">
  <div class="container">
    <div class="partners__content">
      <div class="partners__desc desc">Our partners</div>
      <div class="partners__title title">Trusted by 100+ Company</div>
      <div class="partners__text text">
        We have worked with several large companies
      </div>
    </div>

    <div class="partners__logos">
      <a href=""><img src="./img/partners/bca.svg" alt="img" /></a>
      <a href=""><img src="./img/partners/jenius.svg" alt="img" /></a>
      <a href=""><img src="./img/partners/mc.svg" alt="img" /></a>
      <a href=""><img src="./img/partners/payoneer.svg" alt="img" /></a>
      <a href=""><img src="./img/partners/paypal.svg" alt="img" /></a>
      <a href=""><img src="./img/partners/visa.svg" alt="img" /></a>
    </div>
  </div>
</section>
