<section class="services">
  <div class="container">
    <div class="services__content">
      <div class="services__desc desc">Best services</div>
      <div class="services__title title">Why Choose Us?</div>
      <div class="services__text text">
        Several modules that can be used separately or together to <br />
        adapt to your reality
      </div>
    </div>

    <div class="services__cards">
      <div class="services__card card">
        <div class="card__img-wrapper">
          <img class="card__img" src="./img/services/01.svg" alt="img" />
        </div>
        <h3 class="card__title">Very Responsivness</h3>
        <p class="card__text">
          Are known for our proven ability to maintain open communication around
          the clock and a high level.
        </p>
        <a class="card__link" href="">Learn More</a>
      </div>

      <div class="services__card card">
        <div class="card__img-wrapper">
          <img class="card__img" src="./img/services/02.svg" alt="img" />
        </div>
        <h3 class="card__title">Very Responsivness</h3>
        <p class="card__text">
          Are known for our proven ability to maintain open communication around
          the clock and a high level.
        </p>
        <a class="card__link" href="">Learn More</a>
      </div>

      <div class="services__card card">
        <div class="card__img-wrapper">
          <img class="card__img" src="./img/services/03.svg" alt="img" />
        </div>
        <h3 class="card__title">Very Responsivness</h3>
        <p class="card__text">
          Are known for our proven ability to maintain open communication around
          the clock and a high level.
        </p>
        <a class="card__link" href="">Learn More</a>
      </div>
    </div>
  </div>
</section>
