<section class="subscribe">
  <div class="container">
    <div class="subscribe__content">
      <div class="subscribe__title title">Subscribe to our Newsletter</div>
      <div class="subscribe__text text">
        Solar is a clean and safe energy source that converts <br />
        sunlight into electricity for homes and businesses.
      </div>

      <form class="subscribe__form">
        <input
          class="subscribe__form-input"
          type="text"
          placeholder="Enter your email address"
        />
        <button class="subscribe__form-btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
